@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-1);
    background-image: url("../public/cima.png"), url("../public/baixo.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
    background-attachment: scroll, scroll; 
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
}

html {
    font-size: 16px;
}

:root {
    --cor-1: #1E1E1E;
    --orange: #FD7401;
    --white: #FFFFFF;
    --cor-input: #F1F3F6;
    --font-family: "Poppins", sans-serif;
    --font-footer: "Montserrat", sans-serif;
    --font-weight: 100;
    --font-style: normal;
    --yellow: #F5F76C;
}