<section class="container-formulario">
    <img src="logo.png" alt="Logo da empresa NightMall">
    <div class="dica">
        <h2>Cadastro de Produto</h2>
        <h2>Campos obrigatórios estão marcados com (<strong class="asterisco">&ast;</strong>)</h2>
    </div>
    <form [formGroup]="formProduto" (ngSubmit)="cadastrar()" class="formulario">
        <div class="campo">
            <label for="nome">Nome do produto: <strong class="asterisco">&ast;</strong></label>
            <input type="text" id="nome" placeholder="Digite o nome do produto" formControlName="nome">
        </div>
        <div class="campo">
            <label for="peso">Peso (em kg): <strong class="asterisco">&ast;</strong></label>
            <input type="number" id="peso" placeholder="Peso" formControlName="peso">
        </div>
        <div class="campo">
            <label for="comprimento">Comprimento (em m): <strong class="asterisco">&ast;</strong></label>
            <input type="number" id="comprimento" placeholder="Comprimento" formControlName="comprimento">
        </div>
        <div class="campo">
            <label for="largura">Largura (em m): <strong class="asterisco">&ast;</strong></label>
            <input type="number" id="largura" placeholder="Largura" formControlName="largura">
        </div>
        <div class="campo">
            <label for="descricao">Digite a descrição do produto: <strong class="asterisco">&ast;</strong></label>
            <input type="text" id="descricao" placeholder="Apresentação do produto" formControlName="descricao">
        </div>
        <div class="campo">
            <label for="categorias">Categoria do produto <strong class="asterisco">&ast;</strong></label>
            <select name="categorias" id="categorias" formControlName="categoriaID" class="selecao">
                @for (categoria of categorias; track categoria.id) {
                    <option [value]="categoria.id">{{categoria.nome}}</option>
                }
            </select>
            <p>Não encontrou a categoria que deseja? <a routerLink="/cadastrar-categoria">Cadastre-a!</a></p>
        </div>
        <div class="campo">
            <label for="getin">GETIN: <strong class="asterisco">&ast;</strong></label>
            <input type="text" id="getin" placeholder="Digite o GETIN do produto" formControlName="GETIN">
        </div>
        <div class="campo">
            <label for="ncm">NCM: <strong class="asterisco">&ast;</strong></label>
            <input type="text" id="ncm" placeholder="Digite o NCM do produto" formControlName="NCM">
        </div>
        <div class="campo">
            <label for="marca">Marca: <strong class="asterisco">&ast;</strong></label>
            <input type="text" id="marca" placeholder="Digite a marca do produto" formControlName="marca">
        </div>
        <div class="campo">
            <label for="quantidadeMinima">Quantidade Mínima: (digite um valor numérico) <strong class="asterisco">&ast;</strong></label>
            <input type="number" id="quantidadeMinima" placeholder="Digite a quantidade mínima do produto no estoque" formControlName="quantidadeMinima">
        </div>
        <div class="campo">
            <label for="valorEntrada">Valor entrada: (digite um valor numérico, em R$) <strong class="asterisco">&ast;</strong></label>
            <input type="number" id="valorEntrada" placeholder="Digite o valor de entrada do produto" formControlName="valorEntrada">
        </div>
        <div class="campo">
            <label for="valorSaida">Valor saída: (digite um valor numérico, em R$) <strong class="asterisco">&ast;</strong></label>
            <input type="number" id="valorSaida" placeholder="Digite o valor de saída do produto" formControlName="valorSaida">
        </div>
        <div class="campo">
            <label for="observacoes">Observações: </label>
            <input type="text" id="observacoes" placeholder="Digite observações relevantes do produto..." formControlName="observacoes">
        </div>
        <button 
        type="submit"
        class="botao"
        >Cadastrar Produto</button>
    </form>
</section>
